.playerContainer {
	padding: 3rem 4rem;
	width: 26.6rem;
	height: 100vh;

	background: var(--purple-500);
	color: var(--white);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}